.header-container 
    header.header 
        .header__title 
            h2 
                span.las.la-bars 
                span Dashboard 
        .header__content
            button.logout.btn.btn--secondary Logout 









