//- extends base 
//- block content
//-         .sidebar 
//-             .sidebar-brand 
//-                 h1 
//-                     span.lab.la-accusoft 
//-                         span Larger Basket
//-             .sidebar-menu 
//-                 ul 
//-                     li 
//-                         a(href="#").active
//-                             span.las.la-igloo 
//-                                 span Dashboard 
//-                     li 
//-                         a(href="#")
//-                             span.lab.la-creative-commons-nd 
//-                                 span Products  
//-                     li 
//-                         a(href="#")
//-                             span.las.la-receipt 
//-                                 span Orders 
//-                     li 
//-                         a(href="#")
//-                             span.las.la-receipt 
//-                                 span Inventory              
//-                     li 
//-                         a(href="#")
//-                             span.las.la-circle 
//-                                 span Accounts              
//-                     li 
//-                         a(href="#")
//-                             span.las.la-users 
//-                                 span Users              
//-                     li 
//-                         a(href="#")
//-                             span.las.la-tools 
//-                                 span Setting             






