extends base
block sidebar 
    .sidebar
        .sidebar__brand 
            h2 
                span.las.la-accusoft 
                span Larger Basket 
        .sidebar__container 
            .user 
                span.user__image imge 
                span.user__details 
                    h2 Ratneswar 
                    small Super Admin 
            ul 
                li 
                    a(href="#" class="active")
                        span.las.la-igloo 
                        span Dashboard 
                li 
                    a(href="/configuration" class="")
                        span.las.la-igloo 
                        span Configuration 

                li 
                    a(href="/products" class="")
                        span.las.la-igloo 
                        span Products 
                li 
                    a(href="/orders" class="")
                        span.las.la-igloo 
                        span Orders 
                li 
                    a(href="/sales" class="")
                        span.las.la-igloo 
                        span Sales 
                li 
                    a(href="/reports" class="")
                        span.las.la-igloo 
                        span Report 
                li 
                    a(href="/settings" class="")
                        span.las.la-igloo 
                        span Setting 
                li 
                    a(href="/users" class="")
                        span.las.la-igloo 
                        span Users 
                li 
                    a(href="/delivery-agents" class="")
                        span.las.la-igloo 
                        span Delivery Agent 
block content
    .main 
        .main__bar
            .title__bar 
                h1 Dashboard
        .main__content 
            .grid 
                .grid__cards 
                    .grid__card 
                        .card__details 
                            .card__detail
                                h2 5400
                                span Customers 
                            span.las.la-bars
                        .card__image 
                            img(src="/img/bar2.svg", alt="")
                    .grid__card 
                        .card__details
                            .card__detail
                                h2 1000
                                span Revenue 
                            span.las.la-hand-holding-usd 
                        .card__image 
                            img(src="/img/line.svg", alt="")
                    .grid__card 
                        .card__details
                            .card__detail 
                                h2 540
                                span Orders
                            span.las.la-clipboard 
                        .card__image 
                            img(src="/img/bar3.svg", alt="")
                    .grid__card 
                        .card__details
                            .card__detail 
                                h2 54 
                                span Delivery Boy
                            span.las.la-users 
                        .card__image 
                            img(src="/img/bar2.svg", alt="")
                .grid__box
                    .image__container 
                        img(src="/img/box.svg", alt="")                   



