extends base
block sidebar 
    .sidebar
        .sidebar__brand 
            h2 
                span.las.la-accusoft 
                span Larger Basket 
        .sidebar__container 
            .user 
                span.user__image imge 
                span.user__details 
                    h2 Ratneswar 
                    small Super Admin 
            ul 
                li 
                    a(href="#" class="active")
                        span.las.la-igloo 
                        span Dashboard 
                li 
                    a(href="/configuration" class="")
                        span.las.la-igloo 
                        span Configuration 

                li 
                    a(href="/products" class="")
                        span.las.la-igloo 
                        span Products 
                li 
                    a(href="/orders" class="")
                        span.las.la-igloo 
                        span Orders 
                li 
                    a(href="/sales" class="")
                        span.las.la-igloo 
                        span Sales 
                li 
                    a(href="/report" class="")
                        span.las.la-igloo 
                        span Report 
                li 
                    a(href="/setting" class="")
                        span.las.la-igloo 
                        span Setting 
                li 
                    a(href="/users" class="")
                        span.las.la-igloo 
                        span Users 
block content
    .main 
        .main__bar




