extends base
block admin 
    .login 
        .login__image 
             img(src='/img/image.svg')
        .login__box 
            .login__form 
                h2 Login 
                form.form
                    .form__group 
                        label Email 
                        input(type="text").form__control#email
                    .form__group 
                        label Password 
                        input(type="password").form__control#password
                    .form__group 
                        input(type="submit" value="SignIn").form__control.btn






 
       
    
        
            
             
                
                
                





