extends base
block sidebar 
    .sidebar
        .sidebar__brand 
            h2 
                span.las.la-accusoft 
                span Larger Basket 
        .sidebar__container 
            .user 
                span.user__image imge 
                span.user__details 
                    h2 Ratneswar 
                    small Super Admin 
            ul 
                li 
                    a(href="/dashboard")
                        span.las.la-igloo 
                        span Dashboard 
                li 
                    a(href="#" class="active")
                        span.las.la-igloo 
                        span Configuration 

                li 
                    a(href="/products" class="")
                        span.las.la-igloo 
                        span Products 
                li 
                    a(href="/orders" class="")
                        span.las.la-igloo 
                        span Orders 
                li 
                    a(href="/sales" class="")
                        span.las.la-igloo 
                        span Sales 
                li 
                    a(href="/report" class="")
                        span.las.la-igloo 
                        span Report 
                li 
                    a(href="/setting" class="")
                        span.las.la-igloo 
                        span Setting 
                li 
                    a(href="/users" class="")
                        span.las.la-igloo 
                        span Users 
                li 
                    a(href="/users" class="")
                        span.las.la-igloo 
                        span Users 
                li 
                    a(href="/users" class="")
                        span.las.la-igloo 
                        span Users 
                li 
                    a(href="/users" class="")
                        span.las.la-igloo 
                        span Users 
block content
    .main 
        .main__bar
            .title__bar 
                h1 Sub category 
            .activity__bar 
                ul 
                    li 
                        a(href='/configuration') Category
                    li 
                        a(href='/configuration/sub-category'  class='active') Sub-Category
                    li 
                        a(href='/configuration/brand') Brand
                    li 
                        a(href='/configuration/store') Store
                    li 
                        a(href='/configuration/product-size') Product-Size
                    li 
                        a(href='/products') Products
                .btn 
                    button(onClick="document.getElementById('modal').style.display='block'") Add Sub-category

        .main__content 
            .content-table 
                table 
                    thead 
                        tr 
                            th No.
                            th Name 
                            th Category 
                            th Status 
                            th Activity
                    tbody 
                        tr 
                            td 1
                            td Rice 
                            td Grocery
                            td Active 
                            td 
                                button.btn.btn--primary Edit 
                                button.btn.btn--secondary Delete
block modal
    .form-heading 
        h2 New sub-category
        span(onClick="document.getElementById('modal').style.display='none'").las.la-times#btn--close 
    form(action="")
        .form__fields 
            label Name 
            input(type="text").form__control 
        .form__fields 
            label Local Name 
            input(type="text").form__control 
        .form__fields 
            label Category 
            .option__control 
                select.options
                    option Select a category 
                    option Grocery 
                    option Cosmatics 
                    option Baby products 
                    option Others
        
        .form__fields 
            label Status 
            .option__control 
                input(type="radio")
                label(for="") Active 
                input(type="radio")
                label(for="") Deactive 
        .form__fields 
            label Sub-category Image 
            input(type="file").option__control
        .btn__fields 
            input(type="submit" value="Cancel").btn.btn--primary
            input(type="submit" value="Submit").btn.btn--secondary










